In [3]:
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.rdd import portable_hash
from pyspark.statcounter import StatCounter
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf, lit, desc, max
from functools import reduce


import pandas as pd
import numpy as np

import os
import json

from datetime import datetime
from operator import itemgetter
from shapely.geometry import shape, Point

from matplotlib import pyplot as plt

spark = SparkSession.builder.appName("Taxi")\
        .config("spark.driver.memory", "6g")\
        .config("spark.driver.cores", "6")\
        .getOrCreate()
sc=spark.sparkContext

In [4]:
from  pprint import pprint
def title(s):
    pprint("---- %s -----" %s)    
    
def see(s, v):
    pprint("---- %s -----" %s)
    pprint(v)

# 1. Sample the Data
Save the sample to a file, because the sampling itself is time-consuming

In [231]:
taxiRawAll = sc.textFile("../data/sample.csv")
header = sc.parallelize(taxiRawAll.take(1))
taxiRaw = taxiRawAll.sample(withReplacement=False, fraction=0.0001 ,seed=17)
taxiRaw.coalesce(1) #Makes 1 file as an output, since it reduced the # of partitions to 1

CoalescedRDD[1114] at coalesce at NativeMethodAccessorImpl.java:0

# Run below only once!

In [ ]:
header.union(taxiRaw).saveAsTextFile("../data/ch08-geospatial/trip_data_sample.csv")

# 2. Read the sample Data
Save the sample to a file, because the sampling itself is time-consuming

In [5]:
#read the sample
taxiRaw = sc.textFile("../data/sample.csv")

In [6]:
sampledf = spark.read.csv("../data/sample.csv", header=True)
sampledf.toPandas()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,1.00,-73.978165,40.757977,-73.989838,40.751171
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,1.50,-74.006683,40.731781,-73.994499,40.75066
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,1.10,-74.004707,40.73777,-74.009834,40.726002
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,.70,-73.974602,40.759945,-73.984734,40.759388
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,2.10,-73.97625,40.748528,-74.002586,40.747868
5,20D9ECB2CA0767CF7A01564DF2844A3E,598CCE5B9C1918568DEE71F43CF26CD2,CMT,1,N,2013-01-07 15:27:48,2013-01-07 15:38:37,1,648,1.70,-73.966743,40.764252,-73.983322,40.743763
6,496644932DF3932605C22C7926FF0FE0,513189AD756FF14FE670D10B92FAF04C,CMT,1,N,2013-01-08 11:01:15,2013-01-08 11:08:14,1,418,.80,-73.995804,40.743977,-74.007416,40.744343
7,0B57B9633A2FECD3D3B1944AFC7471CF,CCD4367B417ED6634D986F573A552A62,CMT,1,N,2013-01-07 12:39:18,2013-01-07 13:10:56,3,1898,10.70,-73.989937,40.756775,-73.86525,40.77063
8,2C0E91FF20A856C891483ED63589F982,1DA2F6543A62B8ED934771661A9D2FA0,CMT,1,N,2013-01-07 18:15:47,2013-01-07 18:20:47,1,299,.80,-73.980072,40.743137,-73.982712,40.735336
9,2D4B95E2FA7B2E85118EC5CA4570FA58,CD2F522EEE1FF5F5A8D8B679E23576B3,CMT,1,N,2013-01-07 15:33:28,2013-01-07 15:49:26,2,957,2.50,-73.977936,40.786983,-73.952919,40.80637
10,E12F6AF991172EAC3553144A0AF75A19,06918214E951FA0003D1CC54955C2AB0,CMT,1,N,2013-01-08 13:11:52,2013-01-08 13:19:50,1,477,1.30,-73.982452,40.773167,-73.964134,40.773815
11,E12F6AF991172EAC3553144A0AF75A19,06918214E951FA0003D1CC54955C2AB0,CMT,1,N,2013-01-08 09:50:05,2013-01-08 10:02:54,1,768,.70,-73.99556,40.749294,-73.988686,40.759052
12,78FFD9CD0CDA541F335EF8B38FB494D6,E949C583ECF62C8F03FDCE1484954A08,CMT,1,N,2013-01-10 12:07:08,2013-01-10 12:17:29,1,620,2.30,-73.971497,40.791321,-73.964478,40.775921
13,237F49C3ECC11F5024B254268F054384,93C363DDF8ED9385D65FAD07CE3F5F07,CMT,1,N,2013-01-07 07:35:47,2013-01-07 07:46:00,1,612,2.30,-73.98851,40.774307,-73.981094,40.755325
14,3349F919AA8AE5DC9C50A3773EA45BD8,7CE849FEF67514F080AF80D990F7EF7F,CMT,1,N,2013-01-10 15:42:29,2013-01-10 16:04:02,1,1293,3.20,-73.994911,40.723221,-73.971558,40.761612
15,3349F919AA8AE5DC9C50A3773EA45BD8,7CE849FEF67514F080AF80D990F7EF7F,CMT,1,N,2013-01-10 14:27:28,2013-01-10 14:45:21,1,1073,4.40,-74.010391,40.708702,-73.987846,40.756104
16,4C005EEBAA7BF26B84B21586332488A2,351BE7D984BE17DB2FA80A748E816472,CMT,1,N,2013-01-07 22:09:59,2013-01-07 22:19:50,1,591,1.70,-73.973732,40.756287,-73.998413,40.756832
17,7D99C30FCE69B1A9DD27E2AEAC9BFA0C,460C3F57DD9CB2265DB75B14CD70224D,CMT,1,N,2013-01-07 17:18:16,2013-01-07 17:20:55,1,158,.70,-73.968925,40.767704,-73.96199,40.776566
18,E6FBF80668FE0611AEA44FD9574A7E32,36773E80775F26CD1158EB5450A61C79,CMT,1,N,2013-01-07 06:08:51,2013-01-07 06:13:14,1,262,1.70,-73.96212,40.769737,-73.979561,40.75539
19,0C5296F3C8B16E702F8F2E06F5106552,D2363240A9295EF570FC6069BC4F4C92,CMT,1,N,2013-01-07 22:25:46,2013-01-07 22:36:56,1,669,2.30,-73.989708,40.756714,-73.977615,40.787575
20,D8AADA4E722C87C10E609654612630DD,8F1E4F779A4D67431C3FCFA4E70A87DC,CMT,2,N,2013-01-10 23:41:51,2013-01-11 00:09:11,1,1640,17.50,-73.78331,40.648766,-73.988914,40.748207
21,B6FC8357E0D53B0F1FA897D536A20F5C,113A5BA8513934DEE97A342E3535DE96,CMT,1,N,2013-01-07 18:05:36,2013-01-07 18:23:50,4,1094,3.80,-73.956505,40.771278,-73.996368,40.73246
22,E12F6AF991172EAC3553144A0AF75A19,06918214E951FA0003D1CC54955C2AB0,CMT,1,N,2013-01-08 13:29:25,2013-01-08 13:37:52,1,507,1.20,-73.95578,40.77932,-73.967285,40.763344
23,4C005EEBAA7BF26B84B21586332488A2,351BE7D984BE17DB2FA80A748E816472,CMT,1,N,2013-01-07 21:13:02,2013-01-07 21:22:31,1,568,1.10,-73.978439,40.764679,-73.977684,40.777004
24,E9BA494DC1A1F26D186394EFBB8327CF,BBF604B3A2426BFBAAC982AAAA0BF1B5,CMT,1,N,2013-01-01 18:36:53,2013-01-01 18:39:04,1,131,.50,-73.992172,40.749954,-73.99675,40.744553
25,E6FBF80668FE0611AEA44FD9574A7E32,36773E80775F26CD1158EB5450A61C79,CMT,1,Y,2013-01-07 08:17:06,2013-01-07 08:22:46,1,340,1.50,-73.992111,40.689701,-74.007156,40.679295
26,0C5296F3C8B16E702F8F2E06F5106552,D2363240A9295EF570FC6069BC4F4C92,CMT,1,N,2013-01-07 22:39:03,2013-01-07 22:44:16,1,312,1.50,-73.978653,40.787735,-73.96579,40.805321
27,A3B17384165197E18CA0A1BB61277EE9,B8396B62883EA332EFD2771A6B031D05,CMT,1,N,2013-01-07 06:26:32,2013-01-07 06:28:24,2,111,.50,-73.965317,40.769375,-73.967133,40.763699
28,8E189DABE265CC03FEF4BFC695B32559,906939B31C0B93768242A58A682412B8,CMT,1,N,2013-01-01 14:02:01,2013-01-01 14:27:39,2,1537,10.20,-73.862709,40.769142,-73.982079,40.762295
29,312E0CB058D7FC1A6494EDB66D360CD2,7B5156F38990963332B33298C8BAE25E,CMT,1,N,2013-01-05 11:54:49,2013-01-05 12:03:48,1,539,.80,-73.977127,40.74831,-73.990913,40.751053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99969,1E57C1D02516C0B681A2D528425BFE1C,FE850F1478B464101D9F89819B895C32,VTS,2,None,2013-01-13 18:56:00,2013-01-13 19:33:00,6,2220,20.31,-73.975983,40.789276,-73.789459,40.647121
99970,A4169121C462B127E96C3F8A8C0E320E,BCA7EB5217D77B86E5351E803F3A0B19,VTS,1,None,2013-01-13 19:24:00,2013-01-13 19:33:00,1,540,1.94,-73.966553,40.789246,-73.952728,40.77243
99971,6633247B42DC857C59DF308EC65053E7,142067D9E95164F9A069B4C6873BD862,VTS,1,None,2013-01-13 19:09:00,2013-01-13 19:32:00,1,1380,10.12,-73.874397,40.774052,-73.979523,40.776321
99972,88526901E19F9EE8513453888BD97943,FAEE60AA012D9912C8090284D911EFDF,VTS,1,None,2013-01-13 19:30:00,2013-01-13 19:37:00,1,420,2.00,-74.007805,40.740475,-73.995338,40.759895
99973,DFF2EEFF6074A167854F5C198C211CB7,685F7E1524EFC40C8FA28B2F17E69F64,VTS,1,None,2013-01-13 19:23:00,2013-01-13 19:34:00,1,660,3.40,-73.948479,40.770439,-73.937248,40.804371
99974,7C4213FD4F01493DB3D3510EA119E9AF,9ECFB7BC929B87E054300895BAC5CB46,VTS,1,None,2013-01-13 19:21:00,2013-01-13 19:34:00,2,780,1.28,-74.000504,40.73225,-74.000801,40.718987
99975,F36564AB9C6EA3B6373EB0E1680A447A,FC2F8A825A9638CAEF004CB2910ED08C,VTS,1,None,2013-01-13 19:25:00,2013-01-13 19:32:00,5,420,2.34,-74.013077,40.708057,-73.995659,40.733696
99976,1FFE6E69C0B4762235E9885B7FB0749C,34EF34217D4B50301043DE4E28DCF7CD,VTS,1,None,2013-01-13 19:26:00,2013-01-13 19:38:00,1,720,1.78,-73.985168,40.727638,-74.007324,40.741249
99977,D6E36C678B2D20DB73D57E4C7B0A51C9,F1D869D887C14CFB5F82B620BB60A686,VTS,1,None,2013-01-13 19:23:00,2013-01-13 19:34:00,1,660,4.33,-73.843796,40.721161,-73.831367,40.761887
99978,282729D8BF63C5D760BC64E61E62F60F,67904DDC0EFB394FF75EA39914CADFDB,VTS,1,None,2013-01-13 19:26:00,2013-01-13 19:31:00,3,300,.85,-74.005859,40.740005,-74.001892,40.747482
99979,C4582DF40CD3C4A32CF82E8E7AC8C983,4EA8B05054FC87EDF97FDB47F49391C0,VTS,1,None,2013-01-13 19:22:00,2013-01-13 19:35:00,1,780,2.13,-73.990173,40.719231,-74.002686,40.739506
99980,7735BB047CAAAA539070B46AA266F773,E27AFF8429AE8A2837894889C6947380,VTS,1,None,2013-01-13 19:27:00,2013-01-13 19:31:00,2,240,.59,-73.986359,40.778816,-73.982224,40.772747
99981,AA7716B044CE4CBA7C195E0176AEADF3,73A0AC11E240DA1ED11583B935892CF2,VTS,1,None,2013-01-13 19:28:00,2013-01-13 19:32:00,2,240,.73,-73.977524,40.749813,-73.985741,40.748245
99982,407581443C525006D22C0EB8819E9EC9,4EB7F2FEED5C01FC973024C1397EB129,VTS,1,None,2013-01-13 19:19:00,2013-01-13 19:32:00,1,780,2.87,-73.998703,40.65971,-73.998703,40.65971
99983,DBE1CFB0376EA38F6373993A6322F1DA,62C2B907F162103194F3B3D4D1ACE854,VTS,1,None,2013-01-13 19:09:00,2013-01-13 19:31:00,6,1320,8.72,-73.87458,40.774101,-73.942207,40.832947
99984,229466C13D0A04ED146C24AAB1685D81,92BE20F751D8833F6E3EB0E97FC638AB,VTS,1,None,2013-01-13 19:21:00,2013-01-13 19:32:00,1,660,3.16,-73.987297,40.738811,-73.958031,40.773033
99985,6BBC8F074A639ADF73ED31F18224B36B,7CE3418723FC6728CEDBC14ABD8E173E,VTS,1,None,2013-01-13 19:22:00,2013-01-13 19:36:00,1,840,2.03,-74.007637,40.724918,-73.979919,40.726841
99986,E79E74C15D90CD93B1564E91E3D64765,145038A0CC99D6982D8001BE668154CA,VTS,1,None,2013-01-13 19:18:00,2013-01-13 19:32:00,4,840,3.00,-73.97599,40.748966,-73.985077,40.778233
99987,A610EB76A2EA1260A22A3526F3261AC3,44E4955DE359FE7F991A41E25A608ECD,VTS,1,None,2013-01-13 19:00:00,2013-01-13 19:35:00,1,2100,12.20,-73.980812,40.74789,-73.959007,40.633163
99988,ED3A87B7283F4755AAE15671D9D36B12,F738FC42202F37BDA91E642BF0372102,VTS,1,None,2013-01-13 19:16:00,2013-01-13 19:33:00,1,1020,3.55,-73.992851,40.724293,-73.96804,40.759834
99989,11FA7B67C4A21E1D7235E7D7EFC873AF,56B3D4A55C62CFFECA7BCCD7E01413D7,VTS,1,None,2013-01-13 19:33:00,2013-01-13 19:41:00,3,480,1.67,0,0,0,0
99990,BBCC4D83C22FA77D260847EC874DE367,6527454ADA9D0B94556E3410F7795A9B,VTS,1,None,2013-01-13 19:28:00,2013-01-13 19:34:00,1,360,1.03,-73.976501,40.71909,-73.988045,40.737667
99991,C3CB2045128C7DE336B24BE64FCC9B05,6316AADB0C1499EC57327F9A7528CB6F,VTS,1,None,2013-01-13 19:19:00,2013-01-13 19:34:00,2,900,5.42,-73.870895,40.773788,-73.949158,40.762737
99992,889230A3561FAED3590C258FDDB97620,E0F300E8141566DCF1CBA72F463B0703,VTS,1,None,2013-01-13 19:23:00,2013-01-13 19:33:00,1,600,4.07,-73.953362,40.767502,-73.987671,40.732601
99993,5A1B1E7E7466145FA1CF552E493A4C91,AFA6F24049D155CDD357478B435435AE,VTS,1,None,2013-01-13 19:26:00,2013-01-13 19:36:00,1,600,3.37,-73.984749,40.748543,-73.954811,40.784344
99994,EFAC6DDCC555586314C8225179232DA9,27AB95529D97AAA983EB1F6C3AAD56F0,VTS,1,None,2013-01-13 19:29:00,2013-01-13 19:37:00,1,480,4.06,-73.945778,40.777912,-73.974556,40.733067
99995,04F30DCFE26FDAB7DEFC0BB9A8701933,E7C05469AB1F5116837A0E553CD77D7D,VTS,1,None,2013-01-13 19:03:00,2013-01-13 19:35:00,2,1920,4.66,-73.989952,40.729607,-73.95784,40.681614
99996,E10567BBAD2900F3DA14BDBA064359F6,229E397B13A730B9868261F445CE8CC2,VTS,1,None,2013-01-13 19:21:00,2013-01-13 19:32:00,6,660,2.64,-73.985046,40.768837,-73.986824,40.742683
99997,72FF6054FF9D43ADE48A1C294E7816F9,3689510A585BBA1D4BFFC1AABE4E7483,VTS,1,None,2013-01-13 19:14:00,2013-01-13 19:32:00,2,1080,3.72,-73.954605,40.76984,-73.970665,40.793564
99998,90BF243D65894ABA3B98644372E6CB85,9F479FDE7839DF16AE54B80DC823ACF1,VTS,1,None,2013-01-13 19:29:00,2013-01-13 19:33:00,1,240,1.10,-73.953522,40.785286,-73.960052,40.773235

# Setting some UDFs will be used later in various sections

In [7]:
hour_UDF = udf(lambda pickup_datetime: datetime.strptime(pickup_datetime, '%Y-%m-%d %H:%M:%S').strftime('%H'))
weekDay_UDF = udf(lambda pickup_datetime: datetime.strptime(pickup_datetime, '%Y-%m-%d %H:%M:%S').isoweekday())
weekDayName_UDF = udf(lambda pickup_datetime: datetime.strptime(pickup_datetime, '%Y-%m-%d %H:%M:%S').strftime('%A'))
weekNum_UDF = udf(lambda pickup_datetime: datetime.strptime(pickup_datetime, '%Y-%m-%d %H:%M:%S').strftime('%V'))
monthDay_UDF = udf(lambda pickup_datetime: datetime.strptime(pickup_datetime, '%Y-%m-%d %H:%M:%S').strftime('%m-%d'))
month_UDF = udf(lambda pickup_datetime: datetime.strptime(pickup_datetime, '%Y-%m-%d %H:%M:%S').strftime('%m'))
year_month_UDF = udf(lambda pickup_datetime: datetime.strptime(pickup_datetime, '%Y-%m-%d %H:%M:%S').strftime('%Y-%m'))
year_UDF = udf(lambda pickup_datetime: datetime.strptime(pickup_datetime, '%Y-%m-%d %H:%M:%S').strftime('%Y'))

# Statistic (1) - Peak Hour during Working Days and WeekEnds

In [8]:
# Peak Hour
peakHourdf = sampledf \
    .withColumn("pickup_hour", hour_UDF(sampledf['pickup_datetime'])) \
    .withColumn("week_day", weekDay_UDF(sampledf['pickup_datetime'])) \
    .withColumn("count",lit(1))['pickup_hour', 'week_day' ,'count']

# Peak hour during working days
title("Peak hour during working days")
peakHourWDdf = peakHourdf.where("week_day < 5 ") \
    .groupBy('pickup_hour').sum('count') \
    .withColumnRenamed('sum(count)',"trips_count") \
    .orderBy(desc('trips_count'))
peakHourWDdf.show(10)         

# Peak hour during WeekEnds
title("Peak hour during WeekEnds")
peakHourWEdf = peakHourdf.where("week_day > 4 ") \
    .groupBy('pickup_hour').sum('count') \
    .withColumnRenamed('sum(count)',"trips_count") \
    .orderBy(desc('trips_count'))
peakHourWEdf.show(10)

'---- Peak hour during working days -----'
+-----------+-----------+
|pickup_hour|trips_count|
+-----------+-----------+
|         18|         22|
|         13|         20|
|         10|         19|
|         17|         15|
|         14|         15|
|         12|         14|
|         16|         12|
|         15|         12|
|         22|         12|
|         08|         12|
+-----------+-----------+
only showing top 10 rows

'---- Peak hour during WeekEnds -----'
+-----------+-----------+
|pickup_hour|trips_count|
+-----------+-----------+
|         12|      11967|
|         13|      11538|
|         14|      11126|
|         11|      10996|
|         15|      10548|
|         16|       9257|
|         10|       7584|
|         17|       7294|
|         09|       3476|
|         18|       3176|
+-----------+-----------+
only showing top 10 rows

# Statistic(2) - Rate ~ Pickup Hour
    Step 1 - Tuple for Hour <-> Count
        Total sum trips

In [9]:
sumAllTrips = peakHourdf.agg({"count":"sum"}).withColumnRenamed("sum(count)","total_count")

title("sumAllTrips")
sumAllTrips.show()

# Year <-> Trip count
TPH = peakHourdf \
    .groupBy('pickup_hour').sum('count') \
    .withColumnRenamed('sum(count)',"count") \
    .orderBy('pickup_hour') \
    .rdd.collectAsMap()
#see("TPH", TPH)

'---- sumAllTrips -----'
+-----------+
|total_count|
+-----------+
|      99999|
+-----------+

Step 2 - Build a table with desired features

In [10]:
ph_UDF = udf(lambda pickup_hour: TPH[pickup_hour])
#rateCount_UDF = udf(lambda rate_sum: rate_s)
rateHourdf = sampledf \
    .withColumn("pickup_hour", hour_UDF(sampledf['pickup_datetime'])) \
    .withColumn("rate_float",sampledf['rate_code'].cast("float")) \
    .groupBy('pickup_hour').sum('rate_float') \
    .withColumnRenamed('sum(rate_float)',"rate_float") 
    
pickRatedf = rateHourdf \
    .withColumn("rate_avg", (rateHourdf['rate_float']/ph_UDF(rateHourdf['pickup_hour']))) \
    ['pickup_hour','rate_avg'] \
    .orderBy(desc('pickup_hour'))
    
title("Pickup Hour ~ Average Rate for this hour")
pickRatedf.toPandas()

#datetime.strptime('2013-01-08 09:50:05', '%Y-%m-%d %H:%M:%S').strftime('%H')

'---- Pickup Hour ~ Average Rate for this hour -----'

   pickup_hour  rate_avg
0           23  1.285714
1           22  1.000000
2           21  1.000000
3           20  1.031963
4           19  1.028598
5           18  1.026579
6           17  1.042961
7           16  1.051786
8           15  1.059943
9           14  1.042366
10          13  1.032705
11          12  1.030882
12          11  1.025534
13          10  1.029857
14          09  1.040482
15          08  1.053038
16          07  1.097826
17          06  1.147173
18          05  1.119850
19          04  1.057834
20          03  1.047307
21          02  1.027661
22          01  1.032520
23          00  1.064516

# Statistic(3) - Taxi Average Monthly Mileage cross all years

In [11]:
avgMlgdf = sampledf \
    .withColumn("trip_distance_float",sampledf['trip_distance'].cast("float")) \
    .withColumn("month", month_UDF(sampledf['pickup_datetime'])) \
    ['month', 'trip_distance_float'] \
    .groupBy('month') \
    .mean('trip_distance_float') \
    .withColumnRenamed('avg(trip_distance_float)', "average_distance")
title("Taxi Average Monthly Mileage cross all years")        
avgMlgdf.toPandas()

'---- Taxi Average Monthly Mileage cross all years -----'

  month  average_distance
0    01          2.985983

# Statistic(4) - Average Daily no. of Passengers during each month cross all years

In [12]:
avgPsgdf = sampledf \
    .withColumn("passenger_count_float",sampledf['passenger_count'].cast("float")) \
    .withColumn("month", month_UDF(sampledf['pickup_datetime'])) \
    ['month', 'passenger_count_float'] \
    .groupBy('month') \
    .mean('passenger_count_float') \
    .withColumnRenamed('avg(passenger_count_float)', "average_passengers")
    
avgPsgdf.toPandas()

  month  average_passengers
0    01            2.163002

# Statistic(5) - Drivers to Taxis ratio

In [13]:
title("Drivers to Taxis Ratio")
DTratio = (sampledf.select('hack_license').distinct().count())/(sampledf.select('medallion').distinct().count())
print(DTratio)

'---- Drivers to Taxis Ratio -----'
1.5502793296089385

# Statistic(6) - Trips per day

In [14]:
tripsdf = sampledf \
    .withColumn("week_day", weekDayName_UDF(sampledf['pickup_datetime'])) \
    .withColumn("count", lit(1)) \
    ['week_day', 'count'] \
    .groupBy('week_day').agg({'count':'sum'}) \
    .withColumnRenamed('sum(count)', "trips_count") \
    .orderBy(desc('trips_count'))

# useless unless we filter by YEAR!
totalDay_count = tripsdf.withColumn("dummy_index", lit(1)) \
    .groupBy('dummy_index').sum('trips_count').rdd.collectAsMap()

percentage_UDF = udf(lambda trips_count: str(round(trips_count/totalDay_count[1]*100,3))+"%")
tripsdf = tripsdf \
    .withColumn("trips_%_rounded", percentage_UDF('trips_count')) \
    ['week_day', 'trips_count', 'trips_%_rounded']

tripsdf.toPandas()

    week_day  trips_count trips_%_rounded
0     Sunday        99539          99.54%
1   Saturday          133          0.133%
2     Friday           97          0.097%
3    Tuesday           87          0.087%
4     Monday           70           0.07%
5   Thursday           42          0.042%
6  Wednesday           31          0.031%

# Statistic(7) - Average Percentage of Taxis Occupied at agiven Hour on a Day

In [83]:
workingTaxidf = sampledf \
    .withColumn("hour", (hour_UDF(sampledf['pickup_datetime'])).cast("int")) \
    .withColumn("count", lit(1)) \
    ['medallion', 'hour', 'count'] \
    .groupBy('medallion') \
    .pivot('hour') \
    .agg({'count':'mean'}).fillna(0) #this should gives 1 for the taxi worked in this hour and zero otherwise

    
Taxis_total = sampledf.select('medallion').distinct().count()

# print(Taxis_total)
# print(cars_onroad)
#(workingTaxidf.toPandas())['0'].sum()

TPHP = {}
df_cnames = iter(workingTaxidf.schema.names) 
for cname in df_cnames:
    if cname == "medallion":
        continue
    TPHP[cname] = str(round(((workingTaxidf.toPandas())[cname].sum()*100/Taxis_total),2)) + "%"

#title("Average Percentage of Taxis Occupied at agiven Hour")
pd.DataFrame([TPHP], columns=TPHP.keys())

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.96%,1.89%,22.84%,28.48%,24.18%,3.99%,12.85%,22.52%,20.86%,34.45%,...,68.9%,68.13%,60.37%,58.52%,36.84%,15.92%,3.4%,0.45%,0.37%,0.31%

# TESTING! ---- Please ignore all below section

In [14]:
datetime.strptime('2017-11-20 09:50:05', '%Y-%m-%d %H:%M:%S').weekday()
ddd = sampledf.withColumn("hoba",sampledf['rate_code'].cast("int"))
ddd.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_time_in_secs: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- hoba: integer (nullable = true)